.custom-checkbox-box {
  width: 48px;
  height: 48px;
  border: 1px solid white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  min-width: 48px;
}

.custom-checkbox-box.checked {
  background-color: transparent;
}

.x-mark {
  color: white;
  font-size: 32px;
  line-height: 0;
}

.checkbox-label {
  padding-left: 10px;
  color: #c4c4c4;
  font-size: 18px;
}

.checkbox-lable-sml {
  padding-left: 10px;
  color: #c4c4c4;
  font-size: 16px;
}
